 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(255,255,255,0.25), rgba(255,255,255,0.25)), url('images/tv_show-game_of_thrones-611937.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 923px;
}

.u-section-1 .u-group-1 {
  width: 570px;
  --radius: 10px;
  height: auto;
  background-image: none;
  min-height: 889px;
  margin: 51px auto -17px;
}

.u-section-1 .u-container-layout-1 {
  padding: 15px 0 13px;
}

.u-section-1 .u-group-2 {
  width: 520px;
  min-height: 171px;
  height: auto;
  margin: 20px 25px 0;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 11px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 20px 30px 0;
}

.u-section-1 .u-image-1 {
  width: 510px;
  height: 286px;
  --radius: 10px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 25px 30px 0;
}

.u-section-1 .u-group-3 {
  min-height: 208px;
  width: 520px;
  height: auto;
  margin: 25px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding-right: 5px;
  padding-left: 5px;
}

.u-section-1 .u-text-4 {
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-1 .u-group-1 {
    min-height: 928px;
    margin-bottom: -21px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 233px;
    height: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 734px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 881px;
  }

  .u-section-1 .u-group-1 {
    min-height: 842px;
    margin-bottom: -12px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 28px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-group-3 {
    min-height: 188px;
    margin-top: 20px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 869px;
  }

  .u-section-1 .u-group-1 {
    min-height: 832px;
    margin-bottom: -14px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-group-2 {
    min-height: 208px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 16px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    height: 188px;
    width: 309px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    min-height: 247px;
    width: 315px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 18px;
  }
}